.friendList {
    margin: 0 auto;
    list-style: none;
    width: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 10px 10px;
  }
  .img {
    width: 48px;
  }
  .friendsItem {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .status {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }